<nav class="nav-bar">
  Todo List
</nav>

<div class="main">

  <md-card class="task-card">
    <md-card-header>
      <md-card-title>Open Tasks</md-card-title>
      <md-card-subtitle>
        <md-input-container style="width: 590px;">
          <input mdInput [(ngModel)]="newTask.name" (keyup.enter)="addTask()" placeholder="New Task Description">
          <md-icon mdSuffix>mode_edit</md-icon>
        </md-input-container>
      </md-card-subtitle>
    </md-card-header>

    <md-card-content>

      <md-list [dragula]='"tasks-bag"' [dragulaModel]="openTasks">
        <md-list-item class="task-item mat-elevation-z3" *ngFor="let task of openTasks">{{task.name}}</md-list-item>
      </md-list>
    </md-card-content>

    <md-card-actions *ngIf="openTasks?.length > 0">
      <button md-mini-fab (click)="clearOpenTasks()">
        <md-icon>delete</md-icon>
      </button>
    </md-card-actions>
  </md-card>

  <md-card class="task-card">
    <md-card-header>
      <md-card-title>Completed Tasks</md-card-title>
    </md-card-header>

    <md-card-content>
      <md-list [dragula]='"tasks-bag"' [dragulaModel]="closedTasks">
        <md-list-item class="task-item mat-elevation-z3" *ngFor="let task of closedTasks">{{task.name}}</md-list-item>
      </md-list>
    </md-card-content>

    <md-card-actions *ngIf="closedTasks?.length > 0">
      <button md-mini-fab (click)="clearClosedTasks()">
        <md-icon>delete</md-icon>
      </button>
    </md-card-actions>
  </md-card>

</div>
